.bodys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bolder;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.container{
    height: 512px;
    width: 512px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.button {
    background-color: seagreen;
    border: 1px solid;
    border-radius: 5px;
}

.row{
    display: flex;
}
.square {
    height: 32px;
    width: 32px;
    margin: 0px;
    flex-shrink: 0;
}